.mainAppBody {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 600px;
  width: 400px;
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(48, 48, 48, 0.409); 
}

/* WeatherDisplay.css */

h1 {
  font-size: 2.6rem;
  font-weight: 800;
  font-family: Poppins;
  letter-spacing: -1px;
  color: #111827; /* deep gray/black */
  background: linear-gradient(90deg, #4f46e5, #06b6d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.3rem;
  animation: popIn 0.8s ease forwards;
}

/* Smooth pop-in effect */
@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}


